[Unit]
Description=Netfilter userspace logging daemon
After=syslog.target network-online.target

[Service]
Type=forking
PIDFile=/run/ulogd.pid
EnvironmentFile=-/etc/sysconfig/ulogd
ExecStart=/usr/sbin/ulogd -d -u ulog -p /run/ulogd.pid

[Install]
WantedBy=multi-user.target
